h1, h2, h3, h4 {
    font-family: 'Arial', sans-serif;
}

.card-title {
    color: #f0ad4e;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-warning {
    color: #f0ad4e !important;
}

img.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
